*/.idea
*/.idea/*
/node_modules
*/node_modules
*/node_modules/**
web/node_modules/.bin/acorn
*/dist
*/dist/**
*/.angular

web/ui-framework/node_modules/*
web/ui-framework/dist/*
android/ui-framework-sample/app/src/main/res/xml/backup_rules.xml
android/ui-framework-sample/.idea/runConfigurations.xml
android/ui-framework-sample/.idea/AndroidProjectSystem.xml
android/ui-framework-sample/.idea/compiler.xml
android/ui-framework-sample/.idea/deploymentTargetSelector.xml
android/ui-framework-sample/.idea/gradle.xml
android/ui-framework-sample/.idea/misc.xml
*/contents/*
